@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap');

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
}
::selection {
  background-color: #8d44f3;
  color: #e2e2e2;
}

* {
  font-family: 'Jost', cursive;
  font-size:32px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
button {
  cursor: pointer;
}

/* nav */
nav{
  padding: 16px 24px;
  width: 80%;
  border: 1px solid #e2e2e2;
  border-top: none;
  box-shadow: 1px 1px 3px #000;
  margin: 0 auto 50px;
  text-align: right;
}

nav button:hover{
  color: #8d44f3
}

/* AUTH PAGE */
.auth_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth_container form {
  max-width: 420px;
  padding: 30px;
  border-radius: 4px;
  background-color: #e2e2e2;
  box-shadow: 1px 1px 3px #000;
}
.auth_container input {
  width: 100%;
  background-color: #fff;
  margin-bottom: 16px;
  padding: 6px 14px;
}
.auth_container button {
  padding: 6px 14px;
  background-color: #54c84c;
  color: #fff;
}
.auth_container h3 {
  font-size: 32px;
  margin-bottom: 25px;
}
.auth_container p {
  font-size: 28px;
}

/* User Item */
.user-item{
  cursor: pointer;
  padding: 16px 24px;
  width: 80%;
  margin: 0 auto 30px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s all ease-in-out;
}
.user-item:hover{
  border: 1px solid #2b52ff;
  box-shadow: 2px 2px 7px #888;
}
.user-data{
  flex:1;
}
.user-fio{
  display: inline-block;
  width: clamp(300px, 30%, 400px);
  margin-right: 20px;
}
.user-btns button{
  padding: 4px 8px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: .3s all ease-in-out;
}
.btn-edit {
  border: 2px solid #8d44f3;
  margin-right: 15px;
}
.btn-edit:hover {
  border: 2px solid #9f64f1;
  background-color: #8d44f3;
  color: #e2e2e2;
}
.btn-del {
  border: 2px solid #e91212;
}
.btn-del:hover {
  border: 2px solid #df6565;
  background-color: #e91212;
  color: #e2e2e2;
}